.games-list-container {
    width: 900px;
    text-align: left;
}

.games-search-box {
    width: 600px;
    padding: 10px;
    margin-bottom: 10px;
    font-weight: bolder;
}
.genre-dropdown {
    padding: 10px;
    margin-left: 30px;
    margin-bottom: 10px;
}

.platform-dropdown {
    padding: 10px;
    margin-bottom: 10px;
}